<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEAGRAM</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" href="/images/tea-icon.png">
</head>

<body>
    
    <body>
    <header class="homepage">
        <h1 class="company">TEAGRAM</h1>

        <img class="login-btn" onclick="document.getElementById('signin-page').style.display='block'"src="/images/profile-icon.pmg.png">

	    <div id="signin-page" class="modal">

		    <form class="login-form animate" >
				<span onclick="document.getElementById('signin-page').style.display='none'" class="close" title="Close Modal">&times;</span>
				<h1 class="title">TEAGRAM</h1>

			    <div class="container">
				    <input type="text" id="email-login" placeholder="Email" name="uname" required>

				    <input type="password" id="password-login" placeholder="Password" name="psw" required>

				    <button class="submit-btn" type="submit">Login</button>
			    </div>

			    <div class="container" style="background-color:#f1f1f1">
				    <button class="signup-btn" type="button" onclick="document.getElementById('signup-page').style.display='block', document.getElementById('signin-page').style.display='none'">Create Account</button>
			    </div>
		    </form>
        </header>

         <div id="signup-page" class="modal">

		    <form class="signup-form animate" >
				<span onclick="document.getElementById('signup-page').style.display='none'" class="close" title="Close Modal">&times;</span>
				<h1 class="title">Sign Up</h1>

			    <div class="container">
                    <input type="text" placeholder="First Name" id="firstname-signup" name="firstname" required>
                    <input type="text" placeholder="Last name" id="lastname-signup" name="lastname" required>
				    <input type="text" placeholder="Username" id="name-signup" name="uname" required>
                    <input type="text" placeholder="Email" id="email-signup" name="email" required>
				    <input type="password" placeholder="Password" id="password-signup" name="psw" required>
			    </div>

			    <div class="container" style="background-color:#f1f1f1">
				    <button class="signup-btn" type="submit">Sign Up</button>
			    </div>
		    </form>
	        </div>

        
            {{#if loggedIn}}
            <style>
                .homepage {
                    display:none;
                }
                .about {
                    display:none;
                }
            </style>
            {{else}}
            <style>
                .feed-page {
                    display:none;
                }
            </style>
            {{/if}}



    <main>
        {{{body}}}
    </main>

    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}

    

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
    <script src="./js/login.js"></script>
    <script src="/js/logout.js"></script>
</body>

</html>
