<header class='second-content'>
        <img src='public/images/tea-icon.png' id='logo'>
        <div>
            <h1 class="company">COMMITED TO BUILDING A COMMUNITY</h1>
            <img id="smiling" src="public/images/person-smiling.jpeg">
        </div>
    </header>

    <section class='third-content'>
        <h1 class='text'>EVERYONE IS WELCOME</h1>

    </section>

    <section class="fourth-content">

        <div class="examples">
            <div>
                <h1>CELEBRATE YOUR ACCOMPLISHMENTS</h1>
                <p>Share your accomplishments and milestones with others.</p>
            </div>
            <img src="public/images/promotion-ss.png">
        </div>

        <div class="examples">
            <img src="public/images/friends-ss.png">
            <div>
                <h1>STAND OUT</h1>
                <p>Connect with others, build a platform, and create captivating content.</p>
            </div>
        </div>

     

        <div class="examples">
            <div>
                <h1>GROW YOUR BUSINESS</h1>
                <p>Connect and share your brand with our diverse community!</p>
            </div>
            <img src="public/images/business-ss.png">
        </div>

        <h1>USE TEAGRAM NOW</h1>
        <button class="signup-btn">SIGNUP</button>
    </section>

    <section>

    </section>

    <footer class="footer">
        <p>@TEAGRAM</p>
    </footer>