<section class="feed-page">
    <aside class="sidebar">
        <h1>TEAGRAM</h1>
        <img src="/images/home-icon.png">
        <img src="/images/search-icon.png">
        <img src="{{this.user.profile}}">
    </aside>
    {{#each posts}}

    <div class="feed">
            <article class="posts">
            <h2>{{this.user.username}}</h2>
            <img class="user-post" src="{{this.image_post}}">
            <p class="caption">{{this.caption}}</p>
            <img class="like-btn" src="/images/heart-icon.png">
        </article>
    </div>
    {{/each}}
</section>

