

<form action="/dashboard" method="post" enctype="multipart/form-data">
    <h1>Upload Photo</h1>
    <input type="file" name="sampleFile" accept="image/*" class="btn btn-primary"/>
    <input type="submit" class="btn btn-primary">
</form>
