<form action="/userimage" method="post" enctype="multipart/form-data">
    <h1>Upload Photo</h1>
    <input type="file" name="sampleFile" accept="image/*" />
    <input type="submit" class="btn btn-primary">
</form>



<section>
    
    <div class="card">
        {{#each userImg}}
        <img class="" src="{{this.image_profile}}" alt="User Profile">
        <h5>first name: {{this.firstName}}</h5>
        <h5>last name: {{this.lastName}}</h5>
        <h5>username: {{this.username}}</h5>
        {{/each}}
        
    </div>
    
</section>
