<form action="/userimage" method="post" enctype="multipart/form-data">
    <h1>Upload Photo</h1>
    <input type="file" name="sampleFile" accept="image/*" />
    <input type="submit" class="btn btn-primary">
</form>
<div>
    <h1>hello world</h1>
</div>

