<section class="user-page">
        <h1>{{this.username}}</h1>
        <img class="view-profile" onclick="document.getElementById('profile-page').style.display='block'" src="develop/images/profile-icon.pmg.png">

        <img class="add-post" onclick="document.getElementById('upload-page').style.display='block'" src="develop/images/white-plus-icon.png">

        <div id="profile-page" class="modal">

		    <form class="modal-content animate" >
				<span onclick="document.getElementById('profile-page').style.display='none'" class="close">&times;</span>
				<h1 class="title">{{this.username}}</h1>
                <img class="change-profile" src="develop/images/profile-icon.pmg.png">

			    <div class="container" style="background-color:#f1f1f1">
				    <input type="text" placeholder={{this.username}} name="username">

				    <input type="password" placeholder="Password" name="password">

                    <input type="text" placeholder={{this.bio}} name="psw">
			    </div>

			    <div class="container" style="background-color:#f1f1f1">
				    <button class="submit-btn" type="submit">Update Profile</button>
			    </div>
		    </form>
	    </div>

        <div id="upload-page" class="modal">

		    <form class="modal-content animate" >
				<span onclick="document.getElementById('upload-page').style.display='none'" class="close">&times;</span>
				<h1 class="title">UPLOAD MEDIA</h1>

			    <div class="container" style="background-color:#f1f1f1">
				    <img class="upload-icon" src="develop/images/upload-icon.png">
			    </div>

			    <div class="container" style="background-color:#f1f1f1">
                    <input id="post-caption" type="text" placeholder="Caption">
				    <button class="submit-btn" type="submit">Post</button>
			    </div>
		    </form>
	    </div>
</section>