html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: white
}

h1 {
    margin-top: 100px;
    font-size: 30px;
    font-weight: 900;
}

#logo {
    align-self: center;
    width: 5%;
    margin-bottom:0;
}

/* The image lnked below is displayed as the background image */

.main-content {
    display:flex;
    flex-direction: column;
    height: 120vh;
    align-items: center;
    margin: 0;
    text-align: center;
}


.second-content {
    display:flex;
    flex-direction: column;
    height: 100vh;
}

.second-content{
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 1;
    background-image: url(/public/images/4k-friends.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
} 

.third-content {
    display:flex;
    flex-direction: column;
    margin-bottom: 200px;
    text-align: center;
}

.examples {
    display: flex;
    flex-direction: row;
    margin-top: 150px;
    margin-left: 300px;
    align-items: center;
}

.examples img {
    width: 30%;
    margin-left: 150px;
    margin-right: 150px;
}

footer {
    margin: 30px 0px 50px;
    color: #9dd1ff;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.signup {
    text-align: center;
}

.company, .text {
    font-size: 300%;
    font-weight: bolder;
    position: relative;
    text-align: center;
    justify-self: center;
    margin-top: 15%;
}

.text {
    font-size: 500%;
    color: white;
    margin: 20%;
}

#smiling {
    width: 40%;
}

.signup-btn {
    width: 150px;
    text-align: center;
    align-self: center;
    background-color: white;
    border: 1px solid #9dd1ff;
    color: #ccc;
    border-radius: 10%;
    padding: 15px 15px;
    text-decoration: none;
    transition: background-color 200ms ease-in-out;
}

.signup-btn:hover, .signup-btn:focus {
    background:
        linear-gradient(#9dd1ff, transparent),
        linear-gradient(to top left, rgb(233, 136, 228), transparent),
        linear-gradient(to top right, #9dd1ff, transparent);
    background-blend-mode: screen;
    color:white;
    border: none;
}


@media (max-width:900px) {
    .main-content::before {
        background-attachment:local;
    }
    .second-content{
        background-attachment: local;
    } 
    .third-content {
        display:flex;
        flex-wrap: wrap;
        display: column;
        height: 300vh;
    }
    .examples {
        flex-direction: column;
        margin:0;
    }

}